test/vagrant/.vagrant
*tfstate*
test/azure/.terraform/*
test/aws/.terraform/*
kubeconfig
/ansible/bootstrap/group_vars/all.yml
/ansible/inventory/hosts.ini
/ansible/inventory/hosts.yml
/ansible/variables/config.yml
/ansible/variables/vault.yml
/ansible/variables/encrypted-vault.yml
