test/vagrant/.vagrant
*tfstate*
test/azure/.terraform/*
test/aws/.terraform/*
/kubeconfig
/ansible/group_vars/all.yml
/ansible/inventory/hosts.ini
/ansible/inventory/hosts.yml
/ansible/group_vars/vault/encrypted-vault.yml
/ansible/group_vars/vault/vault.yml
