[master]
master.ip.address.here

[worker]
host2.ip.address.here
host3.ip.address.here
host4.ip.address.here

[k8s:children]
master
worker

[master:vars]
k3s_control_node: true
k3s_tls_san: master.ip.address.here
