---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: cilium-etcd-secrets
  namespace: kube-system
data:
  etcd-client-ca.crt: "{{ slurped_etcd_ca_file.content }}"
  etcd-client.crt: "{{ slurped_etcd_cert_file.content }}"
  etcd-client.key: "{{ slurped_etcd_cert_key_file.content }}"
