---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cilium
  namespace: kube-system
spec:
  chart: cilium
  repo: https://helm.cilium.io/
  version: {{ cilium.version }}
  targetNamespace: kube-system
  bootstrap: true
  valuesContent: |-
    global:
      registry: docker.io/cilium
      tag: v{{ cilium.version }}
      k8sServiceHost: {{ k3s_control_node_address }}
      # k8sServiceHost: 192.168.42.200
      k8sServicePort: 6443
      tunnel: disabled
      bpf:
        preallocateMaps: true
      autoDirectNodeRoutes: true
      kubeProxyReplacement: strict
      nativeRoutingCIDR: "{{ k3s_cluster_cidr }}"
      endpointRoutes:
        enabled: true
      hostServices:
        enabled: true
      nodePort:
        enabled: true
        mode: dsr
      hostPort:
        enabled: true
      externalIPs:
        enabled: true
      ipam:
        operator:
          clusterPoolIPv4PodCIDR: "{{ k3s_cluster_cidr }}"
          clusterPoolIPv4MaskSize: 24
      containerRuntime:
        integration: containerd
        socketPath: /var/run/k3s/containerd/containerd.sock
      hubble:
        enabled: true
        ui:
          enabled: true
        relay:
          enabled: true
        metrics:
          enabled:
          - dns
          - drop
          - tcp
          - flow
          - port-distribution
          - icmp
          - http
